@model Presentation.Models.EmployeeViewModel


@{
    ViewData["Title"] = "Edit Employee Information";
}
<h1>@ViewData["Title"]</h1>
<hr>


<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="HireDate" class="form-label"></label>
        <input asp-for="HireDate" class="form-control">
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Salary" class="form-label"></label>
        <input asp-for="Salary" class="form-control">
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>

    @* <div class="form-group">
        <label for="DepartmentId">Department</label>
        @Html.DropDownList("DepartmentId", new SelectList(ViewBag.Departments, "Id", "Name"), "-- Select Department --", new { @class = "form-control" })
    </div> *@


    <button type="submit" class="btn btn-primary">Update Employee</button>
</form>