
@model Application.Dtos.DepartmentDto


<a asp-action="Index" class="btn btn-outline-success">Back to list</a>
<hr>
<h1>Details</h1>
<div class="card" style="width: 30rem;">
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Description</li>
    </ul>
</div>
